[2018-03-07 12:36] egourlao opened #2 "Continuous Integration"
Add a continuous integration pipeline that checks that the files respect the predefined YAML format and hierarchy.

[2019-12-10 13:21] #2 closed, assigned to nobody

[2020-05-19 15:37] laurensslats opened #4 "Improve device repo template"
#### Summary
Process feedback, received from Decentlab, MCF88 & Comtac

...

#### General findings

- When using Microchip or IMST, the module comes with the LoRaWAN Stack. Manufactures don't always know the LoRaWAN Version and Regional Parameters implementation and don't communicate this clearly to customers.
- MAC 1.0.2. & PHY 1.0.2 rev B was mostly used. Some were looking into 1.0.3. No-one was

[2020-06-12 08:00] #4 closed

[2020-06-23 16:02] laurensslats opened #5 "Simplify device repo"
#### Summary
As of now, its too complicated and error-prone.

No. | Remove | Why
---|---|---
1 | Operating temperature | we're not copy-pasting datasheets
2 |RelativeHumidity | we're not copy-pasting datasheets
3 |Compliancy | we're not copy-pasting datasheets

No. | Issues | Why
---|---|---
1 | Not everyone will install the validation tools | Lot of hassle to install
2 | yaml thing doesn't work w

[2020-06-24 12:09] johanstokking commented on #5
I think we should keep them for three reasons:
1. They are optional
2. They are useful to feed a device catalog / marketplace
3. They will not be copy-pasted by us, but by device makers. It is in their best interest to provide as much information as possible in a structured way

This is literally one command: `npm install`, with Node installed. Also, it is [the most popular](https://githut.info/)

[2020-06-24 12:14] johanstokking commented on #5
VendorID | Name
--- | ---
1 | 1M2M
2 | 2j, L.t.d.
3 | 3S
4 | Bureau Veritas Consumer Products   Services, Inc.
5 | A2A Smart City S.p.A.
6 | AAEON Technology Inc.
7 | Abeeway
8 | Abel Delft B.V.
9 | ABENERGIE SpA
10 | ABINC - Associa
11 | ACCESS CO., LTD.
12 | ACKLIO
13 | AcSiP Technology Corp.
14 | ACTILITY SA
15 | Adaptive Modules Limited
16 | Adeunis
17 | ADRAL Alentejo Regional   Development A

[2020-07-14 15:10] laurensslats opened #6 "Issue with installing yaml validation"
#### Summary
Yaml validation doesn't work and poses error messages. Seems a step is missing.

#### What do you see now?

Executed steps:
1. Update node & npm
node -v: v12.16.3
npm -v: 6.14.6
2. Install dependencies `$ npm install`
3. Validate models `$ npm run validate`
4. Add yaml.schemas in `settings.json`. Tried to set the script in both `Library/Application\ Support/Code/User/settings.json`
&

[2020-07-14 16:16] johanstokking commented on #6
Where do you see that error?

Do you have the `lorawan-devices` folder open in VS Code or did you add it to a workspace? Because the latter doesn't work, that seems to be a limitation with VS Code workspaces and the YAML validator.

Which YAML plugin are you using? It should be `redhat.vscode-yaml`. I have `v0.8.0` installed.

[2020-07-15 14:41] #6 closed

[2020-07-22 13:08] laurensslats commented on #5
@johanstokking where did you get this VendorID list from? Is this from the LoRa Alliance?

[2020-07-22 16:02] johanstokking commented on #5
Yes, this is from the LoRa Alliance

[2020-08-04 15:11] laurensslats commented on #5
Any updates on the review?

[2020-08-27 08:27] laurensslats opened #8 "Add payload field for simulating uplinks in Device Repo"
#### Summary
For users to experience devices in the device repo (and Virtual LoRaWAN Wall of Fame), they need to be able to simulate device uplinks which are shown in the front-end of the device repo (which is the marketplace and/or Virtual LoRaWAN Wall of Fame)

#### Why do we need this?
Awesome feature, allowing users to experience the devices, without having physical access, nor having to make

[2020-08-27 08:44] laurensslats commented on #8
See: https://github.com/TheThingsNetwork/lorawan-devices/pull/7/commits/a85a6bde670c113671b6485e3f62da3ad94fa3ff

[2020-08-27 16:20] johanstokking opened #9 "Add documentation"
#### Summary

Add documentation

#### Why do we need this?

For device makers to help them contributing to the device repository

#### What is already there? What do you see now?

JSON schema validation which helps in editors, and a few examples

#### What is missing? What do you want to see?

Full examples and an elaborate `README.md`

#### How do you propose to implement this?

Write and iterate

[2020-08-27 16:21] johanstokking commented on #8
This is already implemented via `examples`, see for example https://github.com/TheThingsNetwork/lorawan-devices/blob/3df419e1ff73dd3255434b6c53039335630c7f23/vendor/bosch/tps110-0233.yaml#L13

[2020-08-27 16:21] #8 closed

[2020-08-27 16:24] johanstokking opened #10 "Validate examples as pull request status check"
#### Summary

Validate payload encoder/decoder examples in the Validate status check for pull requests.

#### Why do we need this?

To make sure that payload codecs and examples work correctly.

#### What is already there? What do you see now?

Validation of the fields, and the ability to declare codecs and examples, but no validation of the examples.

#### What is missing? What do you want to see

[2020-11-02 17:57] #5 closed

[2020-11-02 17:57] #9 closed

[2020-11-02 17:57] #10 closed

[2020-11-03 15:22] benolayinka opened #12 "Schema validation doesn't error on missing field"
#### Summary

Schema should error on missing `firmwareVersions` in device yaml

[2020-11-03 15:23] benolayinka opened #13 "Human readable schema errors"
#### Summary

Schema validation errors could use a one-liner printing the error as human readable, i.e "Schema error in index.yml. Value 'example.com' of field 'website' is invalid."
Currently looks like:

./vendor/index.yaml is invalid
[
  {
    keyword: 'format',
    dataPath: '.vendors[0].website',
    schemaPath: '#/properties/website/format',
    params: { format: 'uri' },
    message: 'shoul

[2020-11-03 18:39] johanstokking commented on #12
I cannot reproduce.

Please follow issue template and provide steps to reproduce.

[2020-11-03 18:39] #12 closed

[2020-11-06 17:35] laurensslats opened #15 "Define where to find vendorProfileID"
#### Summary
in file <product-name>-profile.yaml, `vendorProfileID` field is required. We need to provide guidance in where partners can find this ID.

#### Why do we need this?
People don't know what this is or where to find it.

#### What is missing? What do you want to see?
A link or description

#### How do you propose to implement this?
Add a description

[2020-11-06 17:36] laurensslats commented on #15
@johanstokking where can people find their `vendorProfileID` again? This is their LoRa Alliance ID right? I believe it corresponds to the list your posted [here](https://github.com/TheThingsNetwork/lorawan-devices/issues/5).

[2020-11-06 17:58] laurensslats opened #16 "Provide a way to test the encoder and decoder"
#### Summary
Provide a way to test the encoder and decoder. AFAIK the encoder and decoder are not tested when running `make validate fmt`

#### Why do we need this?
Guide people in the process

#### What is already there? What do you see now?
`make validate fmt`

#### What is missing? What do you want to see?
A process where people can test (and create) their encoders and decoders.

#### How do yo

[2020-11-06 18:13] johanstokking commented on #16
The examples of the [Payload Codec Definitions](https://github.com/TheThingsNetwork/lorawan-devices#payload-codecs) are tested. Their input goes in the codec, and the output is compared with the defined output.

So, if the definition is:

https://github.com/TheThingsNetwork/lorawan-devices/blob/5a4bf9a18e340996f815e586f4ccea5e6dad970a/vendor/example/windsensor-codec.yaml#L4-L11

And if the codec i

[2020-11-06 18:13] #16 closed

[2020-11-06 18:15] johanstokking commented on #15
Here: https://lora-alliance.org/resource-hub/lora-alliance-vendor-id-qr-code

Please file a PR to add the instruction in https://github.com/TheThingsNetwork/lorawan-devices#vendor-index

[2020-11-06 18:17] johanstokking commented on #15
I misread; your question is about the `vendorProfileID`. This can be freely issued by the vendor: the vendor can use their own numbers.

---

The `vendorID` is issued by the LoRa Alliance. The `vendor/index.yaml` is already updated. New vendors will be added by us. The vendor list is public: https://lora-alliance.org/resource-hub/lora-alliance-vendor-id-qr-code

[2020-11-06 18:18] johanstokking commented on #13
Closed by https://github.com/TheThingsNetwork/lorawan-devices/commit/5a4bf9a18e340996f815e586f4ccea5e6dad970a

[2020-11-06 18:18] #13 closed

[2020-11-09 11:17] benolayinka opened #18 "Command-line tools to create named device, profile and codec stubs"
#### Summary

It would be convenient to have a `make new vendorId device` command that adds the device name to the vendor index and generates template files that will fail `make fmt validate`, so lazy users know what they need to edit.

#### Why do we need this?

Slightly easier to add devices

#### Can you do this yourself and submit a Pull Request?

@johanstokking

[2020-11-09 11:47] johanstokking commented on #18
Indeed, having some basic CLI support would be useful.

[2020-11-09 12:03] laurensslats opened #19 "Support .png"
#### Summary
Error message received when trying to use a .png file as the image of the sensor.

[code]

#### Why do we need this?
pngs are commonly used

#### What is already there? What do you see now?
support for jpg, jpeg

#### What is missing? What do you want to see?
support for pngs

#### How do you propose to implement this?
Add support for png in `https://lorawan-schema.org/draft/devices/1

[2020-11-09 12:09] laurensslats commented on #19
See: https://github.com/lorawan-schema/draft-devices/pull/4

[2020-11-09 19:28] johanstokking commented on #19
Yeah I don't know. PNGs are for illustrations; photos are very inefficient with PNG.

They do support transparent backgrounds. Is that the use case specifically?

If it's just a photo, we should use JPG. The reason for this is responsiveness when serving (too large) images and keeping this repository a reasonable size. But for transparent backgrounds I get it.

[2020-11-18 10:54] #15 closed

[2020-11-18 16:28] laurensslats commented on #19
Many manufacturers will provide PNGs because of the transparent background, or because this is simply what they have available.

To save ourselves time in the future, we need to support this.

https://github.com/lorawan-schema/draft-devices/pull/4

[2020-11-19 09:42] johanstokking commented on #19
OK fine!

Closed by https://github.com/lorawan-schema/draft-devices/pull/4

[2020-11-19 09:42] #19 closed

[2020-11-23 14:43] decentlab opened #24 "Organize end-device files inside a subdirectory"
#### Summary

End-device files such as codecs, images are stored in a subdirectory inside the vendor directory.

#### Why do we need this?

It will be difficult to manage various files in a single vendor directory if a vendor has dozens of devices.

#### What is already there? What do you see now?

Currently all end-device files are stored in the vendor directory.

#### What is missing? What do yo

[2020-12-14 11:18] johanstokking commented on #24
Good point, we'll put this on the list.

[2020-12-16 08:39] johanstokking opened #33 "Add reviewer guides"
#### Summary

Add guides for reviewers

#### Why do we need this?

For community reviewers to have clear guidelines that they can apply when reviewing pull requests from the device maker community.

#### What is already there? What do you see now?

Contributing guidelines

#### What is missing? What do you want to see?

Guidelines on what to check, suggesting:

- Validation must pass (CI already d

[2020-12-16 08:41] johanstokking opened #34 "Support CayenneLPP"
#### Summary

Support CayenneLPP as payload format

#### Why do we need this?

Because there are devices out there that use CayenneLPP, and it's better to just indicate that, rather than submitting Javascript implementations of CayenneLPP

#### What is already there? What do you see now?

JavaScript only

#### What is missing? What do you want to see?

Add a codec type for CayenneLPP and update do

[2021-01-12 20:52] diplfranzhoepfinger commented on #34
Hello, 

i also support this! is there already something done here ?

[2021-01-13 10:06] johanstokking commented on #34
@diplfranzhoepfinger not yet!

[2021-01-15 07:00] terrillmoore opened #70 "Add "particulate matter" (or "pm2.5") sensor"
#### Summary
Please add a suitable category for sensors that return particulate matter density in air (PM2.5, etc)

#### Why do we need this?
Particulate matter (particularly PM2.5) has health implications.

#### What is already there? What do you see now?

There is a dust category, but dust is measured differently than PM2.5, has different units (count/volume vs mass/volume), and is often binned

[2021-01-15 15:24] kschiffer opened #74 "Add field to provide hints about where to find firmware/hardware versions"
#### Summary
When users select an end device they will need to know the firmware/hardware versions of the device. This information is oftentimes not easy to get. We should source some instructions that the manufacturer can provide which will help the user finding out the versions.

#### Why do we need this?
To improve device selection.

#### What is already there? What do you see now?
Nothing of t

[2021-01-17 21:05] terrillmoore opened #75 "Feature request: please add suitable category for Modbus / Mbus / general purpose bridges"
#### Summary
Please add a suitable category for end-devices that incorporate general-purpose bridges to field busses such as Modbus, Mbus, RS485, I2C, and so forth. Perhaps generic "field bus"?

#### Why do we need this?
These devices (like the MCCI Catena 4801, 4802, 4470) access data that's available from other instrumentation. For someone searching for this kind of sensor, it's a distinct categ

[2021-01-20 07:13] johanstokking commented on #74
@benolayinka want to pick this up?

Way to implement would be to add a new string field to the end device object starting here: https://github.com/lorawan-schema/draft-devices/blob/master/schema.json#L705

[2021-01-22 08:25] mikimite commented on #70
Did a pull request for this in their repo but still not aproved
https://github.com/lorawan-schema/draft-devices/pull/11

[2021-01-25 18:05] lnlp opened #99 "Improve docs on how the Device Repository can be used by applications"
Please add/improve docs on how the Device Repository can be used by applications.

[2021-01-28 15:42] johanstokking commented on #70
This is now merged, thanks guys!

[2021-01-28 15:42] #70 closed

[2021-01-28 15:46] johanstokking opened #108 "Enhance validation"
#### Summary

Enhance validation

#### Why do we need this?

To reduce errors and time spend on trial and error.

#### What is already there? What do you see now?

Validation works, but there are still things that can slip through.

#### What is missing? What do you want to see?

I want to make validation check more things. I also want the output to be clearer. Finally I want to be able to validat

[2021-02-01 12:28] htdvisser opened #110 "The Things Uno and Node missing settings for EU868"
#### Summary

The Things Uno is missing some settings that break routing when using ABP for EU868.

#### What is already there? What do you see now?

Device profile https://github.com/TheThingsNetwork/lorawan-devices/blob/master/vendor/the-things-products/the-things-uno-868.yaml that doesn't align with what the Arduino library does https://github.com/TheThingsNetwork/arduino-device-lib/blob/master

[2021-02-02 06:14] jpmeijers commented on #110
Something we need to check is if The Things Uno (like many other older AVR devices) resets its frame counters to 0 when it starts up.

[2021-02-02 06:23] jpmeijers commented on #110
Yes, The Things Uno with the SendABP example from the Thing Network Arduino Library resets its frame counters when the board restarts. In the following screenshot I power cycled the board at 8:20:30.
![image](https://user-images.githubusercontent.com/948278/106560439-b3d6d000-652f-11eb-945a-37b47550d597.png)

The Things Uno is not the only device that behaves in this way. The most older devices (2

[2021-02-24 15:39] benolayinka commented on #74
I don't have permission to add reviewers @johanstokking https://github.com/lorawan-schema/draft-devices/pull/13

[2021-02-24 15:47] benolayinka commented on #99
@lnlp do you mean how the device repository can be used by applications within The Things Stack, or by third party applications?

[2021-02-24 15:52] benolayinka commented on #110
@rvolosatovs @adriansmares @elsalahy if you have an Uno can you test this? Seems like it should be sufficient to enter these parameters manually in TTS.

[2021-02-25 09:44] johanstokking commented on #74
This is now reflected both in https://lorawan-schema.org/draft/devices/1/schema as well as the schema that is pulled in this repository. Please pull `master` to get the updated schema locally.

[2021-03-08 08:50] benolayinka commented on #74
Closed by https://github.com/lorawan-schema/draft-devices/commit/4028c0a44da3a0276850f41275558c77275cf9c7

[2021-03-08 08:50] benolayinka commented on #74
Reopened to allow @kschiffer to add some UX from the schema

[2021-03-08 09:52] kschiffer commented on #74
The UX around this is already defined as part of TheThingsNetwork/lorawan-stack#3522.

I'll comment there that this is now available.

[2021-03-08 09:52] #74 closed

[2021-03-10 14:42] neoaggelos commented on #108
Adding to the list in the description:

- Verify that the specified codec files exist (extra; and are valid Javascript)

[2021-03-10 15:09] marnixcro opened #120 "File '../the-things-node.js' not found for uplink decoding"
#### Summary

TTN files a bug report when sending messages:

This happens each time before a data payload is send with a GNSE.

#### What do you see now?

![image](https://user-images.githubusercontent.com/77615373/110648810-5599ae80-81b9-11eb-985f-5139c86c2bac.png)

`{
  "name": "as.up.data.decode.fail",
  "time": "2021-03-10T14:53:17.939091497Z",
  "identifiers": [
    {
      "device_ids": {

[2021-03-11 10:38] #120 closed

[2021-03-18 18:21] kschiffer opened #124 "Add support for gateways"
#### Summary
The device repository should also allow sourcing gateway information.

#### Why do we need this?
To expand use cases of the DR to gateways. E.g. simplifying the gateway onboarding in the TTS Console: https://github.com/TheThingsNetwork/lorawan-stack/issues/3947

#### What is already there? What do you see now?
Support for end devices and a lot of already sourced data.

#### What is mi

[2021-03-19 10:15] johanstokking commented on #124
What do we want to put in the schema?

Suggesting:

- Band (to filter frequency plans)
- Radio settings for one or more SX1301s
- Supported protocols; UDP, Basic Station

[2021-03-19 12:39] KrishnaIyer commented on #124
* Concentrator type (SX1301/SX1302)
* `clksrc`

[2021-03-22 22:33] lnlp commented on #99
Sorry for my late response.
I meant LoRaWAN applications in general. At first I expected the repository to be some kind of central service with an API, but that is apperently not how it is used.

[2021-04-11 10:53] descartes opened #130 "Vendor neutral name for DIY & small manufacturer devices"
#### Summary

Require a vendor neutral name for use with community devices

#### Why do we need this?

So DIY devices that use the compliant open source stacks like the MCCI LMiC can be selected without people ending up down the wrong path with vendors that supply components - like MCCI, RAK, Arduino etc

I'd propose that small scale manufacturers can also piggy back off the generic entries - lest

[2021-04-11 11:12] descartes commented on #130
PS, I see in the template that you are using a Vendor Id of 42 which is obviously the correct answer to any numeric query, but it's not actually allocated to anyone, so I guess is a placeholder for those paying attention.

Would it be acceptable to use 428?

[2021-04-14 08:04] johanstokking commented on #75
Thanks @terrillmoore for your suggestion and apologies for the late follow up here.

I believe this is a great addition and it is in fact a small thing to do.

Instead of putting this under `sensors`, I think we need a separate field with interfaces with which the device can bridge.

Besides Modbus and M-Bus, is there anything else you can think of now? CAN bus?

[2021-04-14 08:19] johanstokking commented on #130
Thanks @descartes for your suggestion.

You are specifically referring to modules and software stacks? Those would be scoped to device profiles mainly.

Or are you also referring to community devices? Like people counters, trackers, environmental sensors etc, that should include codecs etc?

Only for the latter, onboarding would become relevant, and only then a vendor ID is necessary.

[2021-04-14 08:34] cBashTN commented on #75
We have [devices](https://download.keller-druck.com/api/download/VyyiKwTWpeTxLdpb9sSSK4/en/2021-01.pdf) with
- RS485  (works with a proprietary protocol)
- SDI-12 (for third-party multi-parameter sensors)
- analog interface (0..5 VDC)

[2021-04-14 12:07] johanstokking commented on #75
@cBashTN cool, I added them to https://github.com/lorawan-schema/draft-devices/pull/16

I'm gonna merge that and update the schema dependency here, so you guys can start using this.

If there are more bridge interfaces, please file a follow up issue here or in that repository.

[2021-04-14 12:17] #75 closed

[2021-04-15 12:57] hecko opened #133 "Unable to run make deps"
Hi, Im unable to run the

[code]

This is on MacOS 11.2.1 / Big Sur - the output is:

[code]

I believe this is something that is fixable by any Go programmer, but the Go ecosystem is not too obvious for me unfortunately.

[code]

Thanks for any help.

[2021-04-15 13:00] hecko commented on #133
D'oh! Upgrading Go to 1.16 - Ill update this issue in a moment.

[2021-04-15 13:04] hecko commented on #133
Please excuse my ignorance and a mistake in running proper Go version - Please close this issue. The fix is obviously to upgrade my 1.9 to >1.15

Marcel

[2021-04-15 19:57] #133 closed

[2021-04-15 19:57] hecko commented on #133
Closig issue

[2021-04-20 10:00] descartes commented on #130
I'm mostly thinking of the Arduino based LMiC stacks - so I'd be looking to reference the LMiC - some of the pain comes with the setup for older existing deployed devices on ABP (channels/frequency setup plus the RX1 delay).

At present the preferred stack, MCCI LMiC, has the RX1 window hard coded in to it as 1 second so ABP will always fail unless the source code is changed - but I'm working on g

[2021-04-20 10:32] johanstokking commented on #130
OK, but then we basically need a template for the device profile, right?

[2021-04-20 17:30] descartes opened #139 "Vendor specified JS decoder ignore or override or petition for inappropriate use for removal"
#### Summary
Arduino MKR WAN 1310 has a JS decoder in the repository for a tutorial.

This appears in the background like a ghost entry that now has to be overridden.

The application shows None for the Uplink decoder.

Saving as None doesn't turn off the decoder. Saving as Repository leaves it working. Changing to None still doesn't turn it off.

#### What do you see now?
Bizzare entries in the c

[2021-04-20 17:35] descartes commented on #130
Not sure I understand all the terminology -  in simplistic terms I was going to create some faux-devices for the various versions of LMiC that are in the wild to aid with configuration. Probably easier for me to try a couple and then we can debug what it all means.

[2021-04-20 19:13] johanstokking commented on #130
The device profile defines the boot parameters and the capabilities of the end device on the network layer. Since the device profile is strictly about the network layer, the device profile is basically tied to the LoRaWAN end device stack, its version, activation mode and band.

See https://github.com/TheThingsNetwork/lorawan-devices#end-device-profile

The way the device repository is currently o

[2021-04-22 07:33] nejraselimovic commented on #139
@neoaggelos can you tell something about this behavior?

[2021-04-28 06:38] xExecutioner opened #145 "make validate fmt fails under Windows 10 Ubuntu Linux subsystem"
#### Summary

"make validate fmt" fails under Windows 10 with Ubuntu Linux subsystem. Did it on Windows 10 first by using WinGNU32 with the same error. Then switched to the Linux Subsystem feature, hoping it solves the problem which could be something about relative paths. Unfortunately same behaviour.

#### What do you see now?

`/mnt/d/TTI/lorawan-devices$ make validate fmt
npm run validate

ven

[2021-04-28 09:51] nejraselimovic commented on #139
Transferring this issue to `lorawan-stack` repository.

[2021-04-28 09:51] #139 closed

[2021-04-28 09:54] nejraselimovic commented on #145
@mjamescompton can you please take a look at this issue? If the problem is on not on the user side, please let us know if and when you can pick this up.

[2021-04-29 15:09] Jaime-Trinidad commented on #145
which version of Go you have on WLS? I had the same problem and was the version you can upgrading this way https://sal.as/post/install-golan-on-wsl/

[2021-04-30 07:44] johanstokking opened #149 "Optimize `rs1xx` scripts"
#### Summary

@greg-leach

I had to disable the usage of `rs1xx` codecs in 4cbd0b2ee46a8df32da092d734962de9c3e97728 due to timeouts in CI. This script needs to be optimized.

References https://github.com/TheThingsNetwork/lorawan-devices/pull/45 where this script got introduced and some optimizations were already made.

#### Why do we need this?

When continuous integration fails because of a scri

[2021-04-30 08:39] xExecutioner commented on #145
Thanks @Jaime-Trinidad ,

[2021-04-30 09:08] xExecutioner commented on #145
I was able to solve the problem by updating go to 1.16.3 by using the instruction of installing the newest binary distribution from @Jaime-Trinidad. Using apt-get installs an older version (1.13.8) which is not working! Thanks!

[2021-04-30 09:08] #145 closed

[2021-05-01 06:18] proffalken opened #150 "How to add devices when the vendor does not have a Lora Alliance ID?"
#### Summary
Hi, I'm trying to add some devices from Elsys to make things easier to deploy, however they don't have a LoRa Alliance ID according to [the official list](https://lora-alliance.org/wp-content/uploads/2020/10/LoRa_Alliance_Vendor_ID_for_QR_Code.pdf)

Is there a "reserve code" that I can use?

#### What do you see now?
N/A

#### What do you want to see instead?
N/A

#### How do you prop

[2021-05-01 06:51] proffalken opened #151 "Include Tektelic Agriculture Sensor"
#### Summary
At present, only the Kona indoor sensor is available for selection when provisioning a device.  It would be good to include the Agriculture Sensor as well

#### Why do we need this?
Increases the number of sensors available from Tektelic

#### What is already there? What do you see now?
Only the Kona generic sensor

#### What is missing? What do you want to see?
An option to select th

[2021-05-02 22:59] TD-er commented on #150
There are other 'vendors' in the list which don't have a LoRa Alliance ID.
For example The Box Development doesn't mention an ID.

I just added a PR for my own project and I also don't have an alliance ID.

[2021-05-02 23:29] TD-er commented on #130
Without having read this issue, I also was confronted with this structure leading to duplicated profiles and settings and even worse it may lead to outdated settings for one device while being up-to-date for others.

Take for example the structure of the Heltec definition.
They did a great job in splitting the regional profiles into separate files to avoid a lot of setting duplication.
But I guess

[2021-05-03 09:14] johanstokking commented on #130
@TD-er please see https://github.com/TheThingsNetwork/lorawan-devices/issues/130#issuecomment-823534250. I'd extend that with proposing to be able to refer to another profile.

The common denominator of what you want and what has been mentioned above, is that there are devices that are using a particular LoRaWAN stack (be it a software library like LMiC or a hardware module like the RN2483), and t

[2021-05-03 09:47] TD-er commented on #130
Yep, as always there is a tradeoff to be made between stability, maintainability and sharing resources. (not all are mutual exclusive of course)

Making the ultimate flexible system for maintaining these settings does take an infinite amount of time, so that's of course out of the question.
Maybe we can also take a different approach, by not trying to keep the base settings in sync, but rather dec

[2021-05-03 13:17] Jaime-Trinidad commented on #150
@proffalken  as @TD-er   write, you can add them without LoRa Alliance ID.

[2021-05-04 06:33] nejraselimovic commented on #150
@proffalken I will close this issue as your question seems to be answered by @TD-er and @Jaime-Trinidad, please reopen if necessary.

[2021-05-04 06:34] #150 closed

[2021-05-04 06:36] nejraselimovic commented on #151
@proffalken thank you for contributing!

[2021-05-05 08:38] proffalken commented on #150
@nejraselimovic - no need to reopen, but I would like to continue the conversation :)

@Jaime-Trinidad / @TD-er - do you just leave this value blank then? To me it looked like this value was compulsory rather than optional?

[2021-05-05 08:54] TD-er commented on #150
Just a small part of the index.yaml file:
https://github.com/TheThingsNetwork/lorawan-devices/blob/71154d1e882bd99c35c8a6e4f57ee932d181f76c/vendor/index.yaml#L1564-L1583
When no ID is given, the key is also not mentioned.

[2021-05-05 09:33] proffalken commented on #150
@TD-er perfect, thanks :)

[2021-05-11 15:37] mjamescompton opened #160 "Allow access to the design repo"
#### Summary

Here the issue we have with design repo, this repository does not have rights to the private repo during a release.

[code]

#### Why do we need this?

Make including the design repository easier

#### What is already there? What do you see now?

I've manually included the design repository files.

#### What is missing? What do you want to see?

design repository should be included v

[2021-05-12 08:11] johanstokking commented on #160
Why do we need to reference a private package if the assets are public already?

Can't we publish an npm package with the assets, and reference that here? Or do we need the sources here?

[2021-05-12 08:21] #151 closed

[2021-05-12 08:42] #130 closed

[2021-05-12 08:53] kschiffer commented on #160
The issue is that TTUI is currently part of the design repo, which also includes assets that we cannot make public, such as the fonts. We could move TTUI into a separate repository but then again, in a way I like that the repo is private since it's not really thought to be used by the public and it being private gives us a bit more freedom to experiment. :shrug:

I think what we'll do is upload an

[2021-05-12 12:11] johanstokking commented on #149
Closed by #157

[2021-05-12 12:11] #149 closed

[2021-05-12 12:13] johanstokking commented on #99
@lnlp I think this should be covered by https://www.thethingsindustries.com/docs and https://www.thethingsnetwork.org/docs. Please file issues in https://github.com/TheThingsIndustries/lorawan-stack-docs and https://github.com/TheThingsNetwork/docs respectively.

[2021-05-12 12:13] #99 closed

[2021-05-12 12:36] johanstokking commented on #18
@Jaime-Trinidad do you feel comfortable picking this up?

Would be nice to have a simple Node based CLI (https://www.npmjs.com/package/node-cli) that generates stubs for vendor, end device, profiles, codec definitions etc based on templates (something like https://www.npmjs.com/package/text-template).

[2021-05-12 12:58] Jaime-Trinidad commented on #18
@johanstokking Yes, I was thinking something like this will be usefull to device makers I work on it.

[2021-05-12 13:35] johanstokking commented on #34
@diplfranzhoepfinger Are you using this on a commercial off-the-shelf device? Or is this mostly for R&D?

I'm not seeing thumbs ups here, so I'm gonna schedule this one out of Q2 back to the backlog, pending community demand.

[2021-05-17 09:16] #160 closed

[2021-05-17 13:31] mjamescompton opened #175 "Configure the website on thethingsnetwork.org/device-repository"
#### Summary

Configure the lorawan devices website to be available from https://thethingsnetwork.org/device-repository

#### Why do we need this?

We do

#### What is already there? What do you see now?

Website running from default GitHub pages domain

https://thethingsnetwork.github.io/lorawan-devices/

#### What is missing? What do you want to see?

Configure the lorawan devices website to be

[2021-05-17 13:34] mjamescompton commented on #175
@michalborkowski96 Please wait to merge any changes until the team has confirmed that the website is ready to go live. I will update you here we are ready, though please create any needed PR's

[2021-05-18 09:36] LauraDamianTNA opened #177 "Codec javascript files do not export functions"
#### Summary
Hi,
We would like to use your decoder functions in another node.js open source project.
To do this, we'd need to import the modules, but we have seen that there are no exports in the codec js files.
There is a note in the documentation:
"For security, the runtime does not support modules, require syntax, or any input/output other than defined below."
Why is there a security risk if yo

[2021-05-21 20:40] nejraselimovic commented on #177
@neoaggelos can you please elaborate on the security risks mentioned above?

[2021-05-25 08:29] mjamescompton opened #185 "Add tag descriptions"
#### Summary

Generate and include tag description

#### Why do we need this?

To improve SEO the tag landing pages need to have a description explaining them.

#### What is already there? What do you see now?

All Sensors, IPCode, Frequency plans have a tag page generated, if they are defined by a device.

#### What is missing? What do you want to see?

- Create content for all tags. @anastasiagr

[2021-05-25 12:10] mjamescompton opened #187 "Add device index"
#### Summary

Add an index number to device to control device order on the website.

#### Why do we need this?

We need to control the order the devices are displayed.

#### What is already there? What do you see now?

Devices are order alphabetically.

#### What is missing? What do you want to see?

Controlled at the website level, the lower the device index the higher in the order the device sho

[2021-05-25 12:18] mjamescompton opened #188 "Add device repository homepage"
#### Summary

Add a page that has an overview of most popular devices, vendors and tags. Featured vendors and an explanation of what can be found in the device repository.

#### Why do we need this?

Making it easier to find devices you are looking for and improving SEO

#### What is already there? What do you see now?

The root page is identical to `/devices` which is redirected to the root. The

[2021-05-25 12:24] mjamescompton opened #189 "Add search"
#### Summary

Add a search bar to all pages.

#### Why do we need this?

Make it easier to find the device you are looking for.

#### What is already there? What do you see now?

A list of all devices.

#### What is missing? What do you want to see?

A search bar included on all pages. You should be able to search by device name.

#### How do you propose to implement this?

We already use Algolia

[2021-05-25 12:32] mjamescompton opened #190 "Improve vendor overview"
#### Summary

The vendor overview should show more information about the vendor.

#### Why do we need this?

Help user understand the vendor better and Improve SEO of these pages.

#### What is already there? What do you see now?

Vendor name, description if included, and list of devices.

#### What is missing? What do you want to see?

Vendor name, description, list of devices, social media links

[2021-05-25 12:37] mjamescompton commented on #185
@anastasiagramm I have also added a field at the bottom of each page for a general description of the tag category Sensors, IPCode, Frequency plans

[2021-05-25 13:04] mjamescompton opened #191 "Improve single device"
#### Summary

Improve layout and add new fields

#### Why do we need this?

Make these pages more useful

#### What is already there? What do you see now?

A basic device overview.

#### What is missing? What do you want to see?

Payload formatter in javascript that is easy to copy.

![75e8f9d49004028f52d58af65b8edfd4bc70ce11](https://user-images.githubusercontent.com/46600603/119502379-29c6a780-b

[2021-05-25 13:11] mjamescompton opened #192 "Improve device list"
#### Summary

Improve design list layout and add new features.

#### Why do we need this?

Make it easier to find the device your looking for.

#### What is already there? What do you see now?

All devices.

#### What is missing? What do you want to see?

Some suggestions from discussions, larger width, smaller grid, no descriptions. Add filters by Sensors, IPCode, Frequency plans, LoRaWan version

[2021-05-25 13:15] mjamescompton commented on #185
I've added LoRaWan version and Regional Parameters and a few others which are less important, if you can start with the ones above first and LoRaWan version and Regional Parameters, ignore the others for now.

[2021-05-25 13:20] mjamescompton opened #193 "Add contact TTI form"
#### Summary

Add contact TTI form on device and partner views.

#### Why do we need this?

Lead generation and support.

#### What is already there? What do you see now?

Links to vendor website.

#### What is missing? What do you want to see?

A contact button, which open a contact form.

<img width="924" alt="Screenshot 2021-05-25 at 15 19 03" src="https://user-images.githubusercontent.com/4660

[2021-05-25 15:43] johanstokking commented on #185
We can't really put it in the schema because JSON schema doesn't support descriptions for enum values.

I think that a data file would be helpful. I'm okay with checking that in at https://github.com/lorawan-schema/draft-devices. It can be validated against the schema.

[code]

[2021-05-25 15:47] Jaime-Trinidad commented on #110
I have been testing The Things Uno  using ABP and adding manually parameters, it doesn't present break routing, the only thing like this type of devices frame counter start in 0 everytime is reset.

[2021-05-26 08:59] mjamescompton opened #198 "Add breadcrumbs"
#### Summary

Add breadcrumbs to all pages.

#### Why do we need this?

Site is difficult to navigate once you have selected a product

#### What is already there? What do you see now?

Nothing

#### How do you propose to implement this?

Via hugo

#### Can you do this yourself and submit a Pull Request?

yes

[2021-05-27 07:58] mjamescompton opened #205 "Add visual to explain how to add products to repository"
#### Summary

Add a visual about what the lorawan-device repository is.

#### Why do we need this?

User should be able to find out how to add their products.

#### What is already there? What do you see now?

Nothing

#### What is missing? What do you want to see?

<img width="783" alt="Screenshot 2021-05-27 at 09 47 40" src="https://user-images.githubusercontent.com/46600603/119787621-ad4ed880-b

[2021-06-01 11:45] michalborkowski96 commented on #175
Deployed, so closing

[2021-06-01 11:45] #175 closed

[2021-06-01 11:52] mjamescompton opened #211 "Device Repo Website - Phase 2"
#### Summary

Phase 2 of design repository will make it more than a list of products, make it easier to find a device using search, breadcrumbs and filters, enhance SEO with more tags and descriptions and add extra product details so this can be more useful while manually adding products via the console or cli.

If we get to it we also want to include integration and webhooks so users can use this

[2021-06-07 13:23] anastasiagramm commented on #185
@mjamescompton I've filled in the descriptions that you mentioned. please let me know when you need the other ones

[2021-06-09 14:23] mjamescompton commented on #185
@laurensslats Can you review the descriptions

My feedback is that these will be user facing descriptions, shown under the page name https://www.thethingsnetwork.org/device-repository/tags/accelerometer/, and these seem more like meta descriptions.

It might be nice if we define a structure such as

 `All LoRaWAN device that contain ${SENSOR_NAME}. ${SENSOR_NAME} will record ...... data . This can

[2021-06-11 12:59] mjamescompton commented on #191
Improve reseller visibility, select by region, show all resellers

[2021-06-17 12:43] pgalic96 opened #223 "Device repository statistics API"
#### Summary

An API endpoint to fetch statistics about device repo: number of end devices, number of end device profiles, most recent device profile uploads, etc.

#### Why do we need this?

To display device repository statistics

#### What is already there? What do you see now?

There are API endpoints for fetching devices.

#### What is missing? What do you want to see?

More general statistic

[2021-06-19 13:58] johanstokking commented on #223
We can generate a file with statistics as part of CI, and upload that to a public storage bucket.

Which statistics do you want exactly?

1. Total number of vendors
2. Total number of end devices
3. Total number of device profiles
4. Vendor + end device grouped per day?

[2021-06-25 08:04] johanstokking opened #233 "Remove GPS coordinates when there is no fix"
#### Summary

Remove GPS coordinates when there is no fix.

cc @jamesl-dm

#### What do you see now?

The Oyster and Yabby codecs may return position values while these may be outdated.

Since The Things Stack Application Server from 3.13.3 is automatically publishing location solved events if the decoded payload contains coordinates, this may lead to unwanted side effects.

#### What do you want

[2021-06-25 20:22] frahlg opened #234 "sensative strips payload decoder, size too big"
#### Summary
The payload decoder for the sensative strips is too big.

https://github.com/TheThingsNetwork/lorawan-devices/blob/master/vendor/sensative/strips.js

...

#### What do you see now?

https://github.com/TheThingsNetwork/lorawan-devices/blob/master/vendor/sensative/strips.js

        "namespace": "pkg/applicationserver",
        "name": "formatter_script_too_large",
        "message_form

[2021-06-26 12:49] Flo3561 opened #235 "Dragino LGT92 wrong longitude decoding"
#### Summary

Dragino LGT92 wrong longitude decoding

#### What is already there? What do you see now?

Currently longitude payload is decoded as 0 if the MSB (most significant bit of the longitude packed bites) is 0 as well.
[code]

#### What is missing? What do you want to see?

Longitude should be correctly decoded as for example the decoder here does: https://www.dragino.com/downloads/download

[2021-06-28 11:32] Oliv4945 opened #237 "Best practises guidelines ?"
#### Summary

Each manufacturer implemented the output of  `decodeUplink()` in its own way. ex:

Elsys:
[code]
There is no indication of the unit used, some are SI (ex: temperature), some are not (ex: vdd is in mV)
Battery is called vdd

Decentlab
[code]
The unit is provided in a new object for each parameter
Battery is called battery_voltage

Tektelic
[code]
No unit
Raw payload is provided, which

[2021-06-29 06:37] nejraselimovic commented on #235
@Flo3561 thanks for filing this issue! @dragino can you pick this up and fix the decoder function?

[2021-06-29 06:47] nejraselimovic commented on #237
Thanks @Oliv4945, this is a nice suggestion indeed! @Jaime-Trinidad could you please help with defining a document with some best practices?

[2021-06-29 07:12] nejraselimovic commented on #235
@Jaime-Trinidad I'm assigning you to take care of triaging this issue (assignee and milestone)

[2021-06-29 07:39] nejraselimovic commented on #234
@frahlg thank you for filing this! I believe this is issue is already known: https://github.com/TheThingsNetwork/lorawan-stack/issues/4278. There is an ongoing discussion there about this problem and we are in process of resolving it (you can track the progress in that issue). I'm going to close this issue for now because it's basically a duplicate, but please feel free to reopen it if your proble

[2021-06-29 07:39] #234 closed

[2021-06-29 08:42] Jaime-Trinidad commented on #237
Hi @Oliv4945 thank you for the suggestion, we will work on this.

[2021-06-30 06:28] nejraselimovic commented on #237
References #33

[2021-07-02 14:45] Jaime-Trinidad commented on #237
@Oliv4945 as every device maker make their decoders I added as a recommendation in the Device Repository `README` file, also will be a great feature for standardised files in the future. Please look PR #245

[2021-07-02 14:45] #237 closed

[2021-07-05 14:19] laurensslats commented on #211
To do: plan design sync with @pierrephz, @mjamescompton & @laurensslats

[2021-07-06 14:27] Jaime-Trinidad commented on #235
@Flo3561 the same is in latitude both cases refer if the msb is 0 output is 0, I check with device maker so we can make changes on Dev Repo. Thanks

[2021-07-06 14:30] Flo3561 commented on #235
@Jaime-Trinidad: Yeah, that's true. Just didn't occured with my device. Thanks for your help.

[2021-07-07 09:20] nejraselimovic commented on #237
@Jaime-Trinidad I think there are still things to be addressed here, besides units - you could also add a note in #245 to tell people they should use full variable names instead of abbreviations (temperature vs temp).

[2021-07-07 10:45] elsalahy commented on #110
@Jaime-Trinidad did the testing requested by @benolayinka.
Please assign me back if you need my assistance with something.

[2021-07-07 10:49] Jaime-Trinidad commented on #235
I make changes on latitude and longitude decoder, also verify now if msb of this parameters are 0 we still get values. #249

[2021-07-07 10:49] #235 closed

[2021-07-07 10:58] neoaggelos commented on #177
Apologies for missing this one and replying late.

There at two issues here:

The security risk is not about exporting said functions, but rather to enforce that executing them in a sandbox environment will work as expected, and without producing undesirable side-effects.

The decoder functions are maintained by the device vendors themselves, so in principle this should be easy to enforce but ulti

[2021-07-07 10:58] #177 closed

[2021-07-07 11:08] Jaime-Trinidad commented on #110
Parameters were added manually, tests never present break routing. Using works fine:
rx2DataRateIndex: 3
factoryPresetFrequencies: [867.1, 867.3, 867.5, 867.7, 867.9, 868.1, 868.3, 868.5]

@htdvisser can we close this issue? do we need more test?

[2021-07-07 11:11] htdvisser commented on #110
We'd still need to add those settings to https://github.com/TheThingsNetwork/lorawan-devices/blob/master/vendor/the-things-products/the-things-uno-868.yaml (and https://github.com/TheThingsNetwork/lorawan-devices/blob/master/vendor/the-things-products/the-things-node-868.yaml) before closing this issue.

[2021-07-07 12:43] Jaime-Trinidad commented on #237
@nejraselimovic you are right, I'm was thinking in two things for the moment, also thinking this can impact on file size:

- Mention the used measured units
- Full variable names

in Decentlab example they use almost 40 lines of code only for their units.

[2021-07-08 09:31] Jaime-Trinidad commented on #110
As ABP configuration we want it on DR? we have supportsJoin: true for OTAA in EU868 profile.

[2021-07-09 13:03] Oliv4945 commented on #237
Hi,

Sorry I replied late but I agree with @nejraselimovic and would recommend to go a step further:

Explain how to specify unit and the value ex: `voltage: { "value": 3.3, "unit": "V"}` or `{voltage_V: 3.3}`
Even more I'll recommend to use SI units or specify that each unit should be used for a lot of physical values. ex: a pressure can be `1000 Pa` (SI unit) but also `0.01 Bar`, `10 mBar` or `0

[2021-07-14 14:28] Jaime-Trinidad commented on #233
@johanstokking  as I understand in cached field only will be latitude and longitude, others in this case (Oyster) batV, speed..., will be outside this label right?

![Screen Shot 2021-07-14 at 16 22 36](https://user-images.githubusercontent.com/81958808/125638666-a116770e-fe2b-455a-8b4e-7d9d271d06b0.png)

[2021-07-14 16:37] Jaime-Trinidad commented on #110
ABP configuration for TTU is now in Device Repository #252 @htdvisser I close this issue.

[2021-07-14 16:37] #110 closed

[2021-07-14 18:00] johanstokking commented on #233
Battery yes, speed probably not, as that also comes from GPS.

Best is to contact the manufacturer about what is up-to-date when there is no GPS fix.

[2021-07-15 01:27] jamesl-dm commented on #233
That's right - latitude, longitude and speed come from the GPS.
ManDown comes from accelerometer only.

[2021-07-15 12:43] tjvandam opened #256 "Added device does not show up in console as an option"
#### Summary

...

#### What do you see now?

I have added a device to the repo called smart-parks, however it does not show op in the v3 console as a device option. Why is this?

https://github.com/TheThingsNetwork/lorawan-devices/tree/master/vendor/smart-parks

#### What do you want to see instead?

I would expect that when a new device is added to the github repo, it should show up as a device

[2021-07-15 15:45] rroemhild commented on #256
It will be included with the next TTS release.

[2021-07-16 16:00] Jaime-Trinidad commented on #233
I contact Digitalmatter, when fixFailed = true the following uses the most recent recorded data:
Latitude
Longitude
Speed
Heading

Regardless fixFailed status the following are always considered up to date:
InTrip
manDown
vBat

So the result must be:

{
	"data": {
		"cached": {
			"latitudeDeg": 4.8684,
			"longitudeDeg": 52.34546,
			"speedKmph": ...
                         "headingDeg": ...
		}

[2021-07-19 09:39] Jaime-Trinidad commented on #256
Hi @rroemhild as @rroemhild wrote they will be included with the next TTS release, there is nothing to fix for the moment.

[2021-07-20 15:27] #233 closed

[2021-07-27 11:02] Jaime-Trinidad commented on #256
@tjvandam smart-park devices already can be added on TTS console.

<img width="911" alt="Screen Shot 2021-07-27 at 13 02 36" src="https://user-images.githubusercontent.com/81958808/127143411-ab0f1c90-5f11-4a98-ae43-e330d97f97c6.png">

[2021-07-27 11:02] #256 closed

[2021-08-04 17:33] rish-c commented on #211
- [ ] Add contact us form on every product similar to the current marketplace

[2021-08-05 22:42] benolayinka opened #276 "Improve Device repo WSL installation guide documentation"
#### Summary
Users are facing issues working with WSL installation in the Device Repository while following the instructions here. https://github.com/TheThingsNetwork/lorawan-devices#prerequisites
#### Why do we need this?
To add devices to the Device Repository via Windows platforms.
#### What is already there? What do you see now?
Users are facing issues with node, npm, and go installation in WS

[2021-08-09 18:13] Jaime-Trinidad commented on #18
@benolayinka @johanstokking I have been working on this V1, for the moment it download device templates, I am working on v.2 so information can be written on CLI and generate each template https://www.npmjs.com/package/devrepo-templates

[2021-08-10 13:53] johanstokking commented on #18
Cool. Would be great if we can prompt a few things and fill them out.

Also why write the files under a `src` dir?

[2021-08-16 01:19] Jaime-Trinidad commented on #18
Now it download and fill the template, I just update the version 2.1.4 https://www.npmjs.com/package/devrepo-templates

[2021-08-17 08:04] johanstokking commented on #18
OK, so what is the plan with this? It's in your personal GitHub account now; we should either adopt it here, polish it up and make it part of the documentation flow, or keep it entirely separate.

[2021-08-17 12:10] Jaime-Trinidad commented on #18
I'm making some changes, so device makers can clone the Github and use it, it create the templates so they can paste them in their folder, I will polish it and make it part of documentation, also move it to TTN Github.

[2021-08-24 09:39] mjamescompton commented on #193
@pierrephz Could you look into this so that either me or @tuan9999 can work on this at the beginning of September.

[2021-08-26 21:04] TD-er opened #288 "RX2 frequency incorrect in (almost) all vendor templates"
I noticed a problem with my nodes when using ABP.
I am using nodes with the RN2483 modules, so that should be using a compliant stack.

What I observed was that the gateway sends a downlink message on every uplink message.
But the downlink counter does not increment on the node.

Found [this issue](https://www.thethingsnetwork.org/forum/t/stack-v3-sends-unrequested-downlink-data-for-new-abp-device

[2021-09-06 11:30] tjvandam opened #297 "smart-parks device no longer available as an option in TTN"
#### Summary
Somehow the smart-parks devices are no longer available as an option in TTN.

...

#### What do you see now?
This did work for a while, but today I tried to add a new device and could not select smart-parks as a brand.

...

#### What do you want to see instead?
I would like to see smart-parks devices again (there is only 1 at the moment)
...

#### How do you propose to implement this

[2021-09-07 09:25] htdvisser commented on #297
It looks like `smart-parks` and `nexelec` were accidentally removed from the vendor index in https://github.com/TheThingsNetwork/lorawan-devices/pull/242.

@Jaime-Trinidad can you restore these?

[2021-09-07 10:57] Jaime-Trinidad commented on #297
Yes, in the vendor index were deleted, the are already restored, @tjvandam in the next release you will see smart park devices again.

[2021-09-07 11:02] tjvandam commented on #297
We need to update the decoder on this device also, so that will then also be in the next release. Thanks for the quick update on this.

[2021-09-07 12:55] Jaime-Trinidad commented on #288
Hi @TD-er I will change example template info, so ABP devices submitted don't present any problem, for the moment there is only one ABP device in the repository. All the join devices are not affected by this.

[2021-09-07 14:01] Jaime-Trinidad commented on #288
Changes are done and they are now in the device repository.

[2021-09-07 14:01] #288 closed

[2021-09-07 14:34] TD-er commented on #288
How can I change the created devices which were based on an incorrect template?
I can update it in the settings, but this does not seem to be updated in the backend.
Do I need to recreate those devices? (and thus loose their End Device ID)

[2021-09-07 15:58] Jaime-Trinidad commented on #288
@TD-er this PR still are draft because we are working on it, it isn't deploy yet, in the actual version RX2 now is correct for all devices but this don't affect them as 99% use join activation, only The Things Uno board has ABP connection and is already fixed, in the console this will be in the next release, but you can work with the repository.

[2021-09-07 16:00] Jaime-Trinidad commented on #288
Also which devices are affected so I can look at them @TD-er .

[2021-09-07 21:25] TD-er commented on #288
Not sure if you can see it for my nodes.

For example this one:
![image](https://user-images.githubusercontent.com/3751318/132412420-09e3d368-68fb-491e-85a3-068d5aac90e8.png)

When I made this issue, I could change the RX2 frequency in the web interface in the Advanced MAC settings:
![image](https://user-images.githubusercontent.com/3751318/132412544-49baf33f-b2a5-48ef-9b6d-747a9635a911.png)

But

[2021-09-08 13:38] Jaime-Trinidad commented on #297
@tjvandam in next release smart park devices will be again in the console, fixes are already done and merged, I close this issue.

[2021-09-08 13:38] #297 closed

[2021-09-08 14:11] Jaime-Trinidad commented on #276
@bafonins and @NicolasMrad  I already deploy a WSL installation guide when I started because I notice the problem with Windows, the suggestion of @johanstokking was to make it shorter as it is now, let me search, reopen that PR and edit it, to so you can review it.

[2021-09-09 14:42] iulia-branescu opened #302 "missing or broken links"
#### Summary

There are some broken or missing links for the 'Partner webpage' buttons in the repo: https://www.thethingsnetwork.org/device-repository/devices/tektelic/t00048xx-smart-room-pir/ + https://tektelic.com/public/catalog/smart-room-base-sensor + https://www.thethingsnetwork.org/device-repository/devices/sensative/strips/

[2021-09-14 12:13] Jaime-Trinidad commented on #302
links are fixed and merged.

[2021-09-14 12:13] #302 closed

[2021-09-29 21:53] Jaime-Trinidad opened #319 "Validate Install Dependencies fail"
#### Summary

Validate check is failing installing dependencies so Pull Request can't be validated and merged.

#### What do you see now?

Install dependencies return an exit status 128

`pushd ./tools/runscript && go install . && popd`
`~/work/lorawan-devices/lorawan-devices/tools/runscript ~/work/lorawan-devices/lorawan-devices`
`go: go.thethings.network/lorawan-stack/v3@v3.14.0 requires`
	`gith

[2021-09-30 08:47] Jaime-Trinidad commented on #319
It looks like one dependency was deleted by the author `https://github.com/eaigner/dki` doesn't exist anymore.

[2021-10-01 12:28] johanstokking commented on #319
Yeah the repo is gone. The Things Stack depends on this.

We need to sort this out upstream.

[2021-10-24 13:24] marcusgrtz opened #331 "LGT-92 Decoder: IF query in Kiel Germany causes permanent longitude=0"
https://github.com/TheThingsNetwork/lorawan-devices/blob/277719e49c730b5d71fd1b7d0b2a5497911d6093/vendor/dragino/lgt92.js#L17-L19

IF query in Kiel Germany causes permanent longitude=0

[2021-10-28 03:43] 0hotpotman0 opened #337 "AS923 segment network problem"
AS923( Does AS923 segment network include the AS923_2 and AS923_3), I tried many times the TTN does not support AS923_2 and AS923_3, can anyone help, please.

[2021-11-11 14:50] #193 closed

[2021-11-13 09:10] Flo3561 opened #347 "Support other Firmware versions for Dragino LGT92 decoding"
#### Summary

Support other Firmware versions for Dragino LGT92 decoding

#### What do you see now?

I currently get the following error from the cloud console `firmware version 1.6.4 for model dragino/lgt92 not found`

#### What do you want to see instead?

I would like to see support for all the firmware versions 1.6.x => see here a link: [Firmware versions](https://www.dragino.com/downloads/dow

[2021-11-14 09:02] Flo3561 commented on #331
It looks like this PR here hasn't mad it into the master...
https://github.com/TheThingsNetwork/lorawan-devices/pull/249

[2021-11-14 09:13] Flo3561 commented on #347
The same probably goes also for other sensors like:
- LHT65 https://www.dragino.com/downloads/downloads/LHT65/Firmware/ChangeLog
- LDDS20 https://www.dragino.com/downloads/downloads/LoRa_End_Node/LDDS20/Firmware/Readme.txt
- LDS01 https://www.dragino.com/downloads/downloads/LoRa_End_Node/LDS01/Firmware/ChangeLog.txt
- LSN50v2-D20 https://www.dragino.com/downloads/downloads/LoRa_End_Node/LSN50v2-D2

[2021-11-17 14:10] mjamescompton opened #351 "Add virtual wall of fame tag"
#### Summary

For conference 2022 we want to be able to filter by virtual wall of fame

#### Why do we need this?

We need a link to all the wall of fame devices

#### What is already there? What do you see now?

There are tags

#### What is missing? What do you want to see?

Add tag landing page call virtual wall of fame.

#### How do you propose to implement this?

Add wall of fame tag to device

[2021-11-19 14:37] pierrephz commented on #191
[device-page-device-repo.zip](https://github.com/TheThingsNetwork/lorawan-devices/files/7570894/device-page-device-repo.zip)

Here is a mockups for dedicated device page

cc @mjamescompton

[2021-11-20 12:36] Flo3561 commented on #347
Hi @Jaime-Trinidad,
Please find here in the following screenshot my error I get in the console:
![image](https://user-images.githubusercontent.com/25773748/142726419-ba297d4a-190a-4fbe-b298-eef5e73cbc5a.png)

And here is the data event detail from the decoding uplink data:
[code]

[2021-12-03 02:41] diplfranzhoepfinger commented on #34
commercial yes. 

in the Moment we must set the CayenneLPP in the Application in TTN Console, 

doable. 

but if you forget you will not get data. just this.

[2021-12-12 15:54] efpage opened #359 "Elsys not showing up in the brands list"
Adding some new devices on TTN, I found that ELSYS ist not showing up in the brands list for end devices. Surely Elsys is in the repository lorawan-devices/vendor/, so maybe anybody can check, why it is not selectable?

BR, Eckehard

[2021-12-14 09:25] Jaime-Trinidad commented on #359
Hi @efpage let us check why you can't select it, Elsys as you wrote are in the device repository.

[2021-12-14 23:54] efpage commented on #359
Hy Jaime,

this is what I get on the V3 console:

I would expect Elsys somewhere in this list, but it is not there, even
not at any other position.

There is also another error (?) in the console. I can manually register
one device, this works fine. But if I select to add another device right
after (which is a very handy option), the register end device button
does not work. So I get stuck in this

[2021-12-27 16:18] Jaime-Trinidad commented on #359
Hi @efpage next release must deploy the name elsys, for the moment is not an error only in console is the company name ElektronikSystem, take a look to it, their devices are there, but the changes are already done to deploy the name Elsys

[2022-01-17 21:25] eggfriedrice opened #368 "Tektelic smart room sensor uses undeclared variable "decoded""
#### Summary

There seems to be an error in [vendor/tektelic/decoder_smart_room_sensor.js](https://github.com/TheThingsNetwork/lorawan-devices/blob/536c2161c849f5f6a1bb1c395f5340ab967ef974/vendor/tektelic/decoder_smart_room_sensor.js) where an undeclared variable `decoded` is used instead of the `decoded_data` variable.

#### What do you see now?

Decoding certain payloads that include, for exampl

[2022-01-19 17:53] johanstokking commented on #124
Yes, we have quite some things to do in our other components to consume that, but this will be done.

[2022-01-24 14:59] johanstokking opened #372 "Apply LoRaWAN brand guidelines"
#### Summary

Apply LoRaWAN brand guidelines

#### Why do we need this?

Comply with LoRa Alliance band guidelines for using LoRaWAN and the LoRa Alliance logo.

#### What is already there? What do you see now?

Concerning page: https://www.thethingsnetwork.org/device-repository

- First use of LoRaWAN does not carry (R)
- Wrong LoRa Alliance logo used in the bottom

#### What is missing? What do

[2022-01-28 07:32] johanstokking commented on #372
Updated comment based on discussions with Alliance. This is now good to go.

[2022-01-31 10:01] mjamescompton commented on #372
@pierrephz Something for you to be aware of when designing the websites.

[2022-02-15 10:53] #337 closed

[2022-02-25 09:40] dmeehan1968 opened #387 "YAML long lines being prettified/reformatted by 'make validate fmt'"
#### Summary

I've create a code YAML file for a device, in which the byte representation can grow quite large.

The array syntax ([ and ]) extends beyond some number of items.

When the file is processed with `make validate fmt`, the file is modified to break each element of the array across multiple lines (still using the [ and ] syntax, rather than YAML `-` syntax for each element.  Comments be

[2022-03-01 10:29] KrishnaIyer commented on #387
Our formatter is indeed subjective but we use the same formatter across our codebases and this is the convention we follow.
We may change the formatter or rules later but we don't plan to do this now.

How does this break versioning? YAML ignores new lines so the formatted and unformatted versions are equivalent.

See: https://yaml.org/spec/1.0/#syntax-collect-seq

[2022-03-01 11:24] dmeehan1968 commented on #387
As I showed in my example, newlines that I insert for clarity are perfectly acceptable to YAML, but the reformatting done by the `fmt` command break each array element onto its own line, which for larger arrays makes it hard to follow.

It breaks versioning because if I commit the original to version control, then run the `fmt` command, the files are modified.  I could then create a pull request w

[2022-03-01 12:53] KrishnaIyer commented on #387
Ok so there are two things here.

1. Prettier

I'm not a JS expert and this linter was chosen by our JS team. We use `prettier` not only here but also in [The Things Stack Repo](https://github.com/TheThingsNetwork/lorawan-stack) and other internal repos. Every OS repository has its own conventions and we use prettier for formatting JS/YAML/JSON files.
If enough users of this repo want the files to

[2022-03-08 10:38] #387 closed

[2022-03-14 19:12] pablojimpas opened #395 "Enforce a standard format for decoded sensor data"
#### Summary

The main explanation of this issue has already been described in a previous one: https://github.com/TheThingsNetwork/lorawan-devices/issues/237

However, this one is about making a detailed data model specification for the sensors in devices.

#### Why do we need this?

There's value in going a step further than just giving best practices, actually enforcing a strict format has benef

[2022-03-16 10:24] johanstokking commented on #395
@pablojimpas thanks for your suggestion.

I think this can be very useful indeed. In my view, there would be a common JSON schema for decoded uplink and downlink data. Then, there would be another function that maps the output from the uplink decoder to this new schema.

I would like to keep that as a separate, optional step, after the uplink decoder. The decoded uplink is preserved in upstream me

[2022-03-16 12:11] pablojimpas commented on #395
@johanstokking I like your approach! Having this as a separate schema will allow us to draft the solution more quickly and then, since it's an optional step, the transition period will be graceful, each decoder/manufacturer will be able to implement the `normalizeUplink(data)` function at it's own pace.

Now it's just a matter of adding the new `normalized_payload` field in The Things Stack and de

[2022-03-16 14:13] johanstokking commented on #395
We can very well use some help here. Are you proficient with drafting JSON schema?

What we need is to extend the [schema](https://github.com/TheThingsNetwork/lorawan-devices/blob/master/lib/draft/schema.json) with:

1. An `uplinkNormalizer` (see `uplinkDecoder`) that takes as input `decodeOutput` (that's the output from `uplinkDecoder`) and outputs a new schema `normalizedPayload`
2. New schema `

[2022-03-16 17:24] pablojimpas commented on #395
Unfortunately I've minimal experience with JSON schemas.

Will do. I'll start such a table with all the current sensor types in the first comment of this topic so that it is visible, I will start with just the basics but I encourage input from all who are interested.

[2022-03-18 08:21] johanstokking commented on #395
Yes I agree. We should probably define the quantities and the units. Which sensor produced a measurement can be defined in some sort of channel or sensor index.

[2022-03-18 10:58] pablojimpas commented on #395
So something like this:

[code]

Well, maybe the "unit" field could be removed, since it will already be specified in the documentation of the format and will always be the same for the same quantity.

[2022-03-23 12:39] oholthau opened #397 "Validate on fresh cloned repository fails"
#### Summary
Steps to reproduce:
git clone https://github.com/TheThingsNetwork/lorawan-devices.git
make deps
make validate

...

#### What do you see now?
netvox: r718wb: AU915-928: profile netvox/profile-au915 valid
netvox: r718wb: KR920-923: profile netvox/profile-kr920 valid
netvox: r718wb: IN865-867: profile netvox/profile-in865 valid
netvox: r718wb: CN470-510: profile netvox/profile-cn470 val

[2022-03-29 09:26] johanstokking commented on #395
Thanks, see review comments in the PR.

Indeed we don't need units.

Maybe we need to support both simple readings and per-sensor readings?

Like

[code]

This way, we can do the following:

1. >90% of sensors will only use the top-level properties as they have at most one sensor of each type

2. We can add multiple sensors of the same  type under `sensors`

3. We can have multiple sensor groups u

[2022-03-29 12:02] johanstokking commented on #397
@oholthau what is your environment? Operating system, Node version, etc? Can you paste the complete output of `make validate`?

Weirdly enough it complains about a socket, but there shouldn't be any network access necessary.

[2022-03-29 12:18] oholthau commented on #397
Hi Johan,

here we are:

Operating System: macOS 12.3 on Intel
Node version:v16.14.2
npm: v8.5.0
go version go1.18 darwin/amd64

***@***.*** lorawan-devices % make validate

npm run validate

vendor index: valid

example: valid index

example: windsensor: valid

example: windsensor: EU863-870: profile example/windsensor-profile valid

example: windsensor: US902-928: profile example/windsensor-prof

[2022-03-29 14:01] johanstokking commented on #397
If this is the complete output, it seems like the first attempt on validating the codec or the image dimensions fail. That might be because the main validation utility isn't able to execute those utilities.

I'm assuming that `make deps` succeeds without errors?

Can you try running:

[code]

That should output:

[code]

[2022-03-29 14:11] oholthau commented on #397
Hi Johan,

yes, the make deps succeeds without any error.

The commands does exact the output you are expecting.

Since the issue occurs when doing a fresh git clone without any change, I would assume something is wrong with some vendor data.

I have removed netvox from the directory - then the make validate runs though.

My suspect is the netvox/r720a.

Unfortunately, even if I could fix the issu

[2022-03-29 14:45] oholthau commented on #397
Does the

make validate

on a fresh git clone work on your PC?

Von: Johan Stokking ***@***.***>
Gesendet: Dienstag, 29. März 2022 16:42
An: TheThingsNetwork/lorawan-devices ***@***.***>
Cc: Olaf Holthausen ***@***.***>; Mention ***@***.***>
Betreff: Re: [TheThingsNetwork/lorawan-devices] Validate on fresh cloned repository fails (Issue #397)

Hmm, I can't reproduce. I don't see anything weird in

[2022-03-29 15:02] Jaime-Trinidad commented on #397
Hello Olaf,

I can reproduced it neither, can you run Johan answer to see if it run? If
it sends you error can you send it please I continue searching.

Thanks

El mar, 29 de mar. de 2022 15:45, Olaf Holthausen ***@***.***>
escribió:

[2022-03-29 15:05] oholthau commented on #397
This is interesting: Here is my command sequence to reproduce the issue:

git clone https://github.com/TheThingsNetwork/lorawan-devices.git

cd lorawan-devices

make deps

make validate

---> Exception somewhere in the nevox folder

Additional Findings:

The r720wb device is the last of the netvox list

If I remove the entire netvox folder, make validate works as it should.

______________________

[2022-03-29 20:48] NicolasMrad commented on #185
is this still relevant?

[2022-03-29 21:46] NicolasMrad commented on #18
any updates here?

[2022-03-29 22:03] NicolasMrad commented on #347
@Jaime-Trinidad any progress here?

[2022-03-29 22:04] NicolasMrad commented on #331
@Jaime-Trinidad any progress here

[2022-03-30 07:15] johanstokking commented on #395
Right, so then we have two options:

[code]

Or:

[code]

Here, anyone can access `temperature[0].value` for the first reading, which is often enough. However, when using arrays, the order matters, and that may become problematic and may require the application layer to enumerate the readings and recognize the `source`. In this example, I made `source` an arbitrary, sensor-specific identifier.

Th

[2022-03-30 08:14] mjamescompton commented on #185
@NicolasMrad yes

[2022-03-30 08:42] KrishnaIyer opened #405 "Check that Vendor Profile ID for a vendor is unique"
#### Summary

Check that `VendorProfileID` for profiles of a vendor is unique. Refs; https://github.com/TheThingsNetwork/lorawan-stack/pull/5323

#### Why do we need this?

To make sure that we can query LoRaWAN device profiles with the (`VendorID`,`VendorProfileID`) tuple.

#### What is already there? What do you see now?

Currently, most device profiles don't have the `VendorProfileID` defined.

[2022-03-30 09:21] NicolasMrad commented on #372
Is there sill work to be done here?

[2022-03-30 09:22] #372 closed

[2022-04-04 08:48] Jaime-Trinidad commented on #397
@oholthau the error that validation throws is in Netvox photos?  in this case ... netvox/photos/r720.jpg

[2022-04-04 14:07] Jaime-Trinidad commented on #397
@johanstokking I run `make validate` on my Mac (macOS Monterey, M1) instead of Ubuntu and I got:

`Error: spawn /bin/sh EAGAIN`
   ` at Process.ChildProcess._handle.onexit (node:internal/child_process:283:19)`
   ` at onErrorNT (node:internal/child_process:476:16)`
    `at processTicksAndRejections (node:internal/process/task_queues:83:21) {`
       `errno: -35,`
        `code: 'EAGAIN',`
  `sysca

[2022-04-05 08:44] NicolasMrad commented on #276
what's the status here?

[2022-04-05 09:04] #359 closed

[2022-04-05 09:11] Jaime-Trinidad commented on #331
@NicolasMrad there is a good solution for this problem #362 but it can't be merge as the CLA won't be signed, I will search for other solutions.

[2022-04-05 12:25] Jaime-Trinidad commented on #405
@KrishnaIyer I add a unique `VendorProfileId` in `The Things Product` and `The Things Industries` profile files as an example for this.
I can contact makers to add numbers or I can start adding to the profile files.

[2022-04-06 09:10] Jaime-Trinidad commented on #405
@KrishnaIyer yes, the question `vendorProfileId` should be unique in each vendor profile or overall vendors. ex. `tti-profile-868.yaml` `vendorProfileId: 868` and `elsys-868.yaml` `vendorProfileId: 868` .
Here they can insert the same profileId different vendor. If they can't be repeated it will be difficult maybe it will be necessary to establish some rules about this, else if it doesn't matter b

[2022-04-06 09:20] KrishnaIyer commented on #405
It should be unique within each vendor.

[2022-04-06 14:10] Jaime-Trinidad commented on #368
Hi @eggfriedrice can you send an example of the error, I just test the decoder file and I don't get errors, but as you have the device will be easier to see this:

`bytes: [0x07 0x71 0x0D 0x01 0xAC 0xDD 0x01 0x05]`
`{
  "acceleration.xaxis": 3.329,
  "acceleration.yaxis": -21.283,
  "acceleration.zaxis": 0.261
}`

[2022-04-07 12:09] pablojimpas commented on #395
Overall I agree with your analysis, it's a good compromise to cover every possible use case, however, this solution will require more domain knowledge for every measurement to get the naming right!

I can start modeling the easy ones (temperature, moisture...) in the JSON schema if you want but I will prefer to get more input from other parties (e.g. device manufacturers) to cover everyone's inter

[2022-04-07 14:30] #347 closed

[2022-04-13 09:27] eggfriedrice commented on #368
Hi @Jaime-Trinidad, thanks for following up

I don't have one in front of me right now, but...

Kinda, the code actually uses both the `decoded` and `decoded_data` variables, but only `decoded_data` is returned at the end. I don't think `decoded` is ever even defined.

Cheers,
Al

[2022-04-13 09:36] eggfriedrice opened #421 "Tolerance of null payloads"
#### Summary
We have a customer using a Browan TBHH. The decoder sometimes returns garbage numbers, and it appears that this happens because on some uplinks the `frm_payload` is absent. The decoder then miscalculates temperatures etc.

...

#### What do you see now?
Bad payload decoded with no `frm_payload`:

    "received_at": "2022-04-08T16:14:39.574932888Z",
    "uplink_message": {
      "sessi

[2022-04-13 16:27] Jaime-Trinidad commented on #421
Hi @eggfriedrice how often is presented this issue, I think is not a null payload, also I see that is sending data every 5 seconds? I make some tests with `null` and `00` payloads:

[code]

[2022-04-13 16:49] eggfriedrice commented on #421
Hi @Jaime-Trinidad
This is from a customer, so I can't verify much, but note in the first snippet I posted that there is no `frm_payload` field at all.

[2022-04-18 14:31] jpmeijers opened #424 "nke Watteco ModBus codec"
#### Summary

@Watteco @Jaime-Trinidad
The codec for the nke Watteco ModBus device is missing from this repo under https://github.com/TheThingsNetwork/lorawan-devices/tree/master/vendor/nke-watteco

#### Why do we need this?

Support nke Watteco ModBus devices.

#### What is already there? What do you see now?

Many of the other nke Watteco devices are already included, but the ModBus device is mi

[2022-04-19 14:39] johanstokking commented on #421
@Jaime-Trinidad it looks like the decoder returns "base" values when the payload is empty. The decoder should return an empty object with the payload is empty, that's all.

[2022-04-19 14:39] johanstokking commented on #405
I'll add validity checks in CI.

[2022-04-21 14:23] Jaime-Trinidad commented on #424
I already contacted NKE-Watteco so they can add their `ModBus` devices

[2022-04-22 15:14] Jaime-Trinidad commented on #368
Hi yes, I checked /vendor/tektelic/decoder_smart_room_sensor.js it contain only `decoded_data` in the three axes as variable, also in the complete file, from line 120 to 126:

` key: [0x07, 0x71],`
              `  fn: function (arg) {`
                  `  decoded_data['acceleration.xaxis'] = decode_field(arg, 0, 15, "signed") * 0.001;`
                   ` decoded_data['acceleration.yaxis'] = de

[2022-05-02 13:14] pablojimpas commented on #395
@johanstokking any chances of seeing this in `lorawan-stack` before the 3.20 milestone?

[2022-05-02 15:17] johanstokking commented on #395
Yes you are correct; the implementation is fairly trivial in The Things Stack and we can make 3.20.0.

You can indeed open an issue in https://github.com/TheThingsNetwork/lorawan-stack/issues referencing this one. I can also do it but good to file in your own words and you'll be subscribed automatically etc.

[2022-05-02 16:45] pablojimpas commented on #395
Perfect! I've just created the new issue there https://github.com/TheThingsNetwork/lorawan-stack/issues/5429 and mentioned you so you get also in the discussion.

[2022-05-06 07:20] johanstokking commented on #397
This has been resolved; the above patched fixed the issue and this has been committed to `master`.

[2022-05-06 07:20] #397 closed

[2022-05-06 07:42] johanstokking commented on #395
Yes it does indeed. Knowing the difference between air and soil temperature is necessary domain knowledge I think. Naive applications may otherwise mix up different quantitites. I think we need to keep those quantities (like air vs soil temperature) separate from the unit (both Celcius).

The question is though whether we need this array with multiple values. I think there are a few use cases for

[2022-05-06 17:32] pablojimpas commented on #395
Absolutely, that's the main benefit of creating this normalized format, give context/meaning to the data used by end user applications. We must protect that feature in the implementation.

I am going to propose two concrete examples to try to reason about this more easily, one trivial and one that simulates a fairly complete scenario, so we will not miss any important detail to cover from the simp

[2022-05-09 08:35] johanstokking commented on #395
Thanks for the examples. I also think that taking realistic example measurements into account is very helpful.

I would also prefer avoiding traversing an array of similar units to find the source of interest. I like your initial example where you differentiate measurements; some measurements need more specification (like anything below soil surface), while others don't (like ambient temperature).

[2022-05-09 11:56] pablojimpas commented on #395
Overall I agree with your modifications. I like what you did to avoid the second array, grouping related measurements and spreading across different readings if necessary.

Here are some comments:

What if it is? Is that situation what you are referring later on point 4? I think that's the easiest solution, spreading the measurements in the already needed array.

I don't quite get that, what other

[2022-05-09 12:21] johanstokking commented on #395
Yes indeed. So we won't forbid `ambientTemperature` in two separate readings with the same logical/absolute time.

In case of soil, there must be specifier like depth. But in case of ambient temperature or wind, I don't think that one device would measure two different readings with distinct sensors. But ok, it can, and we allow for it if we stick to this format.

What I meant is that some devices

[2022-05-09 12:39] pablojimpas commented on #395
Exactly, would be a less common case for sure, but you never know, one could setup a device to compare the precision of different sensors measuring the same quantity for example, so it's nice to be flexible here.

Aaah I see...so an integration could potentially configure the interval sending a downlink and then that integration will have the context necessary to make the relative time conversion.

[2022-05-09 12:42] Jaime-Trinidad commented on #331
The problem must be solved with #438 the decoder file will be updated in the next release, after that if trouble continues, please reopen this issue.

[2022-05-09 12:42] #331 closed

[2022-05-09 12:49] johanstokking commented on #395
Yes. That is what we mean with upstream; north of Application Server. Uplink messages magically flow against gravity.

Yes. We'll triage https://github.com/TheThingsNetwork/lorawan-stack/issues/5429 tomorrow morning CEST. The schema definition is pretty much decoupled from support in The Things Stack. I agree that we should start with the simplest quantities and iterate. We produce releases every

[2022-05-25 08:10] Jaime-Trinidad commented on #424
@Watteco any update for adding `ModBus` to the Repository?

[2022-05-26 20:33] wireless-road commented on #124
Hello. Any updates on this?

P.S. Do you have idea how following device might be classified:
https://thumb.cloud.mail.ru/weblink/thumb/xw1/Gcra/x1sJDaxsJ
There is mini PCI express form factor card that implements functionality a fully functional 8 channel LoRaWAN gateway's LoRa physics. Designed to integrate LoRaWAN gateway functionality to existing devices/solutions.
Does it possible to place suc

[2022-06-04 17:24] johanstokking commented on #124
No updates yet; we start with the new end device onboarding flow in The Things Stack and after that we'll work on the gateway onboarding flow which may come with gateway definitions in here.

As for your product; where would it be listed?

If you have documentation available to configure the gateway for The Things Stack, you can contribute to the documentation that is shown here: https://www.theth

[2022-06-13 22:46] Jaime-Trinidad commented on #424
Hi @jpmeijers @Watteco already add a ModBus in the repository please take a look at #458 I will close this issue if there is something else needed please feel free to open it.

[2022-06-13 22:46] #424 closed

[2022-06-17 12:55] Lynckx opened #460 "Milesight-iot em300-mcs uses em300-th config"
#### Summary

The em300-mcs.yaml file from milesight-iot has the same name and uses the same config as the em300-th device.  This results in duplicate em300-th options and the wrong decoder when registering a device from the device repository.

#### What do you see now?

The wrong configuration from the em300-th device definition inside the em300-mcs device definition. In the payload formatter the

[2022-06-27 21:29] NicolasMrad commented on #351
since this is created some time ago, is it still relevant?

[2022-06-28 08:00] johanstokking commented on #223
It was for display on thethingsnetwork.org. I don't think this is super relevant for now.

We will be adding APIs to the Device Repository for export to new LoRa Alliance formats. While we're at it, we can make an API available with statistics. I'm gonna close this issue for now.

[2022-06-28 08:00] #223 closed

[2022-06-28 11:17] mjamescompton commented on #351
Speak to ionela about her expectations for the digital wall of fame. During the last conference the digital wall of fame was the entire device repository, if people are paying to be apart of the wall of fame we could show only these products somewhere online

[2022-07-27 14:36] johanstokking commented on #395
@pablojimpas I'm picking this up now. I'm revisiting the example I shared above, and now I realize there's a discrepancy between `ambientTemperature` and the soil temperature which should now be referenced by `soil.temperature`.

If `soil.temperature` is referenced but `soil` is undefined, you'll get "object is not defined" errors. For this reason we may want to avoid nested objects altogether.

S

[2022-07-27 17:31] pablojimpas commented on #395
From an integration developer perspective, what's the different between handling a non-existent `soil` object when trying to get `soil.temperature` and handling a non-existent `soilTemperature` field?

I guess that yes, it will be simpler to avoid nesting as much as possible, and as long as we can express everything with the right naming convention I'm fine with that.

Not really, but the more tha

[2022-07-27 19:38] johanstokking commented on #395
True. One can argue that developers have to account for undefined values anyway, so nested objects would not make a difference.

Then, should we put `temperature` under `ambient`? Or rather `air`? So that we put other air measurements under `air` as well?

I've got an idea to overcome this.

I really want to encourage device makers to combine multiple readings in one LoRaWAN frame. This is just a

[2022-07-28 11:17] pablojimpas commented on #395
I think `ambient` and `air` are mostly equivalent in this case (the same for pressure and humidity). However, deciding this will require a checkup of the current available devices from different manufacturers and their primary use cases, that will help to settle the names.

This is actually a pretty clever solution to avoid arrays and achieve uniform messages, I think this can work beautifully. Th

[2022-07-28 15:40] johanstokking commented on #395
Initially I thought of sending the uplink message twice indeed, but that can cause problems upstream.

The plan to add a new message type here, and we already encourage integration developers to specify a path for that message to keep things separate:

<img width="615" alt="Screen Shot 2022-07-28 at 17 23 24" src="https://user-images.githubusercontent.com/13334001/181576028-0be336f7-d20a-4e50-a81d

[2022-07-28 15:57] johanstokking commented on #395
If we want to support min/max/avg/median/percentiles for temperature... What do we do?

[code]

Is this still developer friendly enough? Or

[code]

I like the former one personally.

[2022-07-28 23:22] pablojimpas commented on #395
That's what I thought, just another thing to keep in mind.

The list looks like a terrifying mess and illustrates perfectly why this issue it's important!

This will indeed be necessary, there might be a lot of use cases that produce uplinks that do not adhere strictly to “a quantity with some units on a defined context”, for example: open/closed status, events from computer vision recognition on

[2022-07-31 14:29] johanstokking commented on #395
Yep, I think the first one is nicer too.

Yes, I think we should go in the direction of defining structures for things that can be controlled (valves, lights, doors) and things that cannot necessarily be measured in physical quantities but scores. But indeed, let's figure this out later.

[2022-08-03 08:24] your-kptn opened #493 "Invalid device codec in master branch"
#### Summary
Trying to add a new device but when validating, I get an error of some other device that isn't valid in the master branch.
...

#### What do you see now?
`ellenex: tts2-l: AS923: payload codec codec-single-t2 invalid
Error: spawn /bin/sh EAGAIN
    at ChildProcess._handle.onexit (node:internal/child_process:283:19)
    at onErrorNT (node:internal/child_process:476:16)
    at process.p

[2022-08-16 12:04] jammiemil opened #504 "Tektelic Sensor Rename and Agri decoder update issues"
#### Summary
Due to the changes in #466 I've had to go through and update the Hardware info for all my deployed tektelic sensors as the previous model_id (t00059xx-agriculture-sensor) was no longer valid (Replaced with (t000598x-kiwi), Further to this however the same change has replaced the previous decoder with an incomplete decoder that no longer takes the frequency + Voltage values and calcula

[2022-08-16 17:52] JBischoff1 commented on #504
@jammiemil Thank you for raising this issue. I have created a pull request (#505) to address this. I modified the decoder to include the functions for calculating the watermark and temperature values. I also reverted the model ID back to the previous one.

[2022-08-22 17:12] jammiemil commented on #504
Thanks @JBischoff1 , I saw this go into the release that pushed to cloud today so ive checked it out.

Looks like the name was changed to t00059xx-kiwi rather than reverting to t00059xx-agriculture-sensor so ive updated my devices again (Thankfully i had the script prepared this time), I can now see the right metrics being decoded at least. 👍

[2022-08-23 09:27] #504 closed

[2022-08-24 12:49] djang0402 opened #516 "Assign proper emails for "Contact Partner" dialog"
#### Summary
Web UI has "Contact Partner" button to open a dialog for sending some messages to the vendor. But we cannot configure email addresses, which receive the messages through the dialog.

#### Why do we need this?
Our customer wrote messages through the dialog, but the messages was sent to TTN. End-device definition would need elements to configure emails receiving messages through the dia

[2022-08-25 15:50] RileyRCI opened #518 "Partner Webpage and Buy Product"
#### Summary

The "Partner Webpage" & "Buy Device" buttons have the url's swapped.
...

#### What do you see now?

The spot in the product .yaml file for "productURL" is where the link for the product is, but it is linked to the "Partner Webpage" button on the website. As well, the "Buy Device" button has the link that is in the "reseller information" section of the product .yaml file.
...

#### W

[2022-08-29 14:54] johanstokking commented on #395
With #939 merged, the next step is to define a next batch of fields. The [original comment](https://github.com/TheThingsNetwork/lorawan-devices/issues/395#issue-1168797188) is a great start.

On one hand it's desirable to keep iterations big and avoid and pushing lots of incremental support to the device makers because they won't keep up with that. We also have to keep TTS and our documentation up

[2022-08-30 15:50] johanstokking commented on #395
@pablojimpas are you willing to spend some time on schema additions?

[2022-08-30 21:20] pablojimpas commented on #395
Sure! Awesome work with your 3 PRs so far, I'm sure I can use those as a basis for implementing more measurements. If you don't mind, I'll start with those measurements that are more useful for agricultural use cases.

Let's see if we can cover a good amount of variables before TTC2022 so that this new format can be promoted there to gain adoption easily.

I will start with a PR to include more ai

[2022-09-02 08:54] Jaime-Trinidad commented on #276
@NicolasMrad can you take a look to #422 last year we also discuss this topic that is not necessary to add all the guide, to close the issue and the PR

[2022-09-02 09:55] NicolasMrad commented on #276
if it looks good for you then it's good for me

[2022-09-29 09:32] cBashTN commented on #395
Hi all. Device manufacturer here (KELLER Pressure). I am not sure if my input is welcome, but here are my two cents:
- I really like the idea of the "Normalizer"
- So far I haven't found a general standard for IoT or MQTT measurements. I also searched various opendata archives as well but could not find a common standard.
- A common standard for measurements would be helpful for us when creating M

[2022-10-10 08:33] #351 closed

[2022-10-10 09:26] NicolasMrad commented on #405
Any updates here?

[2022-10-11 07:22] oholthau commented on #397
Hi Jaime,

I did not check for the root cause with the netvox issue,
I just moved the whole folder away to run the verification (and moved back for commit/push).

[image002]<https://www.plenom.com/?utm_source=email-signature&utm_medium=email>Mit freundlichen Grüßen
Best regards,
Dr. Olaf Holthausen
Lead Software Architect
Plenom A/S

T: +45 7877 2465  |   M: +49 162 7844015  |   Email: ***@***.***

[2022-10-14 10:21] johanstokking commented on #395
Thanks for your input @cBashTN

What do you mean by differences? A delta w.r.t. a previous value? We can support that but only if we make things stateful. We have plans for that as well. I think the goal is to produce absolute values in normalized payload, even if the end device sends changes.

---

Regarding `TOB1` and `TBaro` in your example; how should this be normalized? Is the former air temp

[2022-10-14 12:44] johanstokking commented on #405
We have two options here:

1. According to TR005, the profile ID can refer to a device profile and codec. So at least the combination of profile and codec must be unique. What we can do is declaring the numeric profile ID in the vendor's index file, referencing the region, profile and codec. This aligns with TR005, but has the downside that there are potentially many end devices using the same ven

[2022-10-14 13:32] pablojimpas commented on #395
Right. We could devise some sort of flag indicating whether it is an absolute value or a delta, but that would add unnecessary complexity to integrators who want to benefit from the normalized payload. Since we already have to make the decoder/normalizer stateful to address the “installation state” issue, this rare case could also be implemented that way.

In the case of deltas between two values

[2022-10-16 17:19] adriansmares commented on #405
I think we should indeed go with a mixed approach - make this profile ID part of the vendor's index file, requiring it to reference the region+profile and codec if available. If available, the firmware / hardware versions may be added as well, in order to allow mapping back (vendor ID, vendor profile ID) to (band ID, brand ID, model ID, HW version, SW version).

[2022-10-21 13:50] maebli opened #544 "RCM-H200 device profile causes error in trace log on TTN"
#### Summary
The newly created profile of RCM-h200 was used to commission a new device. The following error was seen.

![grafik](https://user-images.githubusercontent.com/1138612/197211219-c098b962-3806-4d2d-b279-c6666bac045f.png)

#### What do you see now?
Error in trace log.

#### What do you want to see instead?
No error in trace log.

#### How do you propose to implement this?
Find out what is

[2022-10-31 10:10] Jaime-Trinidad commented on #544
Hi @maebli who is the vendor?

[2022-10-31 10:12] maebli commented on #544
GwfMesssysteme Ag

[2022-11-17 12:40] ysmilda opened #554 "Update Actions"
The current actions make use of deprecated features and should be updated.
This relates to the use of:
 - [Node.js 12](https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/)
 - [`set-output`](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/)
 - [`save-state`](https://github.blog/cha

[2022-11-21 10:47] #554 closed